<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Blokir akses ke berkas sensitif
    RewriteRule ^\.env$ - [F,L]
    RewriteRule ^composer\.(json|lock)$ - [F,L]
    RewriteRule ^package\.(json|lock)$ - [F,L]
    RewriteRule ^artisan$ - [F,L]
    RewriteRule ^package-lock\.json$ - [F,L]
    RewriteRule ^vite\.config\.js$ - [F,L]
    RewriteRule ^storage/app/ - [F,L]
    
    # Blokir folder tersembunyi (.git, .vscode, dll)
    RewriteRule ^\.(git|vscode|sixth|editorconfig) - [F,L]
    
    # Arahkan semua request lainnya ke folder public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>